body{
    background-color: floralwhite;
}
h1{
    text-align: center;
}
div{
    margin: 10px;
}
input{
    margin: 5px;
}
select{   
    margin: 5px;
}
#problemP{
    font-size: 24px;
}
#answerP{
    display: none; 
    font-size: 24px;
}
#menuDiv{
    border: 1px solid ; 
    border-radius: 5px; 
    border-color:lightslategray;
    background-color:floralwhite;
    z-index: 3;
    position: absolute;
    display: none;
    height: 200px;
    width: 30%;
    padding-left: 2%;
}
#menuDiv button{
    float: right; 
    margin: 5px; 
    border: 3px; 
    border-radius: 2px;
    border-color: lightslategray;
}

#timerDiv{
    position: fixed;
    z-index: 3;
    top: 5px;
    right: 5px;
    width: 120px;
    padding: 1px;
    font-size: 25px;
    background-color: rgb(88, 169, 184);
    text-align: center;
    font-size: 30px;
}

table{
    border: 1px solid black;
    background-color: floralwhite;
    text-align: center;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    word-wrap: normal;
}

table th{
    font-size: medium;
    text-align: center;
    padding: 3%;
}
table td{
    border: 1px solid black; 
    text-align: center;
    padding: 3%;
}   